<div class="container">
    <div class="hero-txt">
        <h1>Our History</h1>
        <p>
            Our team was founded in 1985. We resided in our 
            basement shop of Naka Hall (Engineering Building West) 
            from 1998-2022. That shop saw generations of cars and 
            Mizzou Racers come and go. In 2022, we moved into our 
            new shop in Lafferre Hall. We were joined by newly 
            founded Mizzou Electric Racing shortly after and together, 
            we manufactured Mizzou's very first Formula SAE Electric Vehicle. 
        </p>
        <p>
            Mizzou Racing Alumni have gone on to work at companies like Tesla, 
            Honda, Garmin, SpaceX, Bosch, and Lucid. We have an extensive 
            network of alumni who have accomplished some amazing feats due to 
            their time on Mizzou Racing.
        </p>
    </div>
    <img src="../../assets/columns.JPG">
</div>
<app-footer></app-footer>
