<div class="comp-one-container" style="background-color: rgb(238, 238, 238)">
    <table>
      <tr>
        <td style="width:40%; padding:5%;vertical-align: text-top;">
          <h1 style="">June 2023-<br>Michigan</h1>
          <p>
            Our first EV! Car #237 made it to Michigan after the hard work from many team members. This, in itself, is a huge accomplishment for the team. We couldn't have done it without graduated members Spencer Goldstein, Cory Haberberger, & Chris Drake and Mizzou Electric Racing founders Hayden Higgins, Brooke Becker, & Caleb Hollenbeck. Their legacy will be remembered and honored by current & future Mizzou Racers.
          </p>
        </td>
  
        <td style="width:60%;text-align: left;padding-right:20%;">
          <h2>Mizzou's First EV</h2>
          <p>
            2023 Competition Team!
          </p>
          <img src="../../../assets/columns.JPG" >
  
          <h2>Car #237 at Scales</h2>
          <p>
            Chris Drake in the car at Scales
          </p>
            <img src="../../../assets/columns.JPG" >
  
          <h2>Car #237's First Drive</h2>
          <p>
            The team gathered the morning of our departure for Michigan to witness the EV's first drive! Chris Drake (driver).
          </p>
            <img src="../../../assets/columns.JPG" >
  
  
  
  
  
  
  
  
  
  
        </td>
  
  
      </tr>
  
  
  
    </table>
  </div>