
#parent {
    display: flex;
    font-family: 'Oswald', sans-serif;
    background: rgb(219, 219, 219);
    color: black;
    margin: 50px 50px 20px 50px;
    padding-top: 100px;
    padding-bottom: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}
#narrow {
    width: 400px;
    text-align: center;
}

#narrow h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    border-right: solid 1px black;
    padding-bottom: 160px;
}

#wide {
    flex: 1;
    text-align: left;
    margin-left: 30px;
}

#wide h4 {
    margin-right: 100px;
    font-size: 20px;
}

/* mobile only styles when the device is 0-600px in maximum width */
@media only screen 
and (max-device-width: 768px)
 {
    #parent {
        display: block;
        padding: 20px 0 20px 0;
        text-align: center;
    }

    #narrow {
        width: 100%;
        border-right: none;
    }

    #narrow h1 {
        padding-bottom: 0px;
    }

    #wide {
        text-align: center;
        flex: none;
        margin: 0;
    }

    #wide h4 {
        margin: 20px 20px 0 20px;
    }

 }


/* mobile only styles when the device is up to 1000px in maximum width */
@media only screen 
and (max-device-width: 1000px)
{

}
