* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(244, 244, 244);
    margin-top: -10px;
}

.card-container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}


.row {
    margin: 0 -5px;
    margin-top: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #e0e0e0;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
}

.first {
    width: 300px;
    float:left; 
}

.first img {
    width: 300px;
    border-radius: 10px;
}

.second {
    overflow: hidden; 
    text-align: left;
    padding-left: 50px;
}
  
#role {
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}

#name {
    font-family: 'Oswald', sans-serif;
    margin-top: -15px;
}

#url {
    font-family: 'Oswald', sans-serif;
    margin-top: 150px;
    text-decoration: underline;
}

.card-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-container {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.about-container #title {
    font-size: 50px;
    padding-top: 40px;
    font-weight: bolder;
}

.about-container p{
    text-decoration: underline;
    font-size: 18px;
}

.about-container #about-txt {
    text-decoration: none;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 22px;
}



  @media screen and (max-width: 1200px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .about-container #about-txt {
        margin-left: 100px;
        margin-right: 100px;
    }
  }