<div class="container">

    <div class="about-container">
        <h1 id="title">Meet Our Sponsors</h1>
        <p> ​If you are interested in sponsoring our team, please reach out to sae@missouri.edu or use our donation link</p>
        <p id="about-txt">
            We have the privilege of receiving support from numerous sponsors! 
            Our sponsors make our cars possible. The complementary products, monetary 
            donations, and services we receive greatly benefit our build process and 
            we could not do it without them.
        </p>
    </div>


    <div class="card-container">
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/MUengineering.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">MU Engineering</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/Altium.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">Altium</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/SolidWorks.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">SolidWorks</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/IEEE.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">Institute of Electrical and Electronics Engineers</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/MUengineering.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">MU Engineering</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/MUengineering.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">MU Engineering</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/MUengineering.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">MU Engineering</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/MUengineering.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">MU Engineering</h1>
                    <p id="url">example.com</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

